:root {
  --primary-color: #f4b860;
  --primary-color-dark: #f4c796;
  --text-dark: #0a0a0a;
  --text-light: #393939;
  --extra-light: #878787;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--text-dark);
}

html {
  font-size: 62.5%;
}

.hero {
  background-image: url("./assets/foodie.png");
  height: 35rem;
  object-fit: cover;
}

header h1 {
  color: var(--primary-color);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.search-wrapper {
  text-align: center;
}

.search-wrapper input {
  padding: 1.2rem;
  border-radius: 0.5rem;
  width: 40rem;
  border: 1px solid var(--text-light);
}

.auth-modal input[type="submit"],
.primary-button,
.secondary-button {
  color: var(--text-dark);
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--primary-color-dark);
}

.search-wrapper h1 {
  color: var(--white);
  margin-bottom: 1.5rem;
}

.primary-button:hover {
  background-color: var(--primary-color-dark);
}

.secondary-button:hover {
  background-color: var(--primary-color);
}

.recipes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes-wrapper button {
  align-self: center;
  margin-top: 4rem;
}

.recipes-wrapper h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  cursor: pointer;
}

.recipe img {
  border-radius: 1.5rem;
  width: 35rem;
}

.recipe-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--extra-light);
}

.recipe p {
  width: 20rem;
  margin: 1rem 0;
}

.recipe-details span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-content {
  background-color: white;
  padding: 2em;
  border-radius: 4px;
  max-width: 500px;
}

.close-btn {
  cursor: pointer;
}

/* Tabs */
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 1rem;
}

.selected-tab {
  background-color: var(--text-dark);
  color: var(--white);
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  outline: none;
  border: none;
  border-radius: 2rem;
}

.selected-tab:hover {
  background-color: var(--text-light);
}

.tab {
  background-color: var(--primary-color);
  color: var(--text-dark);
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  outline: none;
  border: none;
  border-radius: 2rem;
}

.tab:hover {
  background-color: var(--primary-color-dark);
}

.auth-modal {
  display: flex;
  flex-direction: column;
  border-radius: 4rem;
}

.auth-modal input[type="text"],
input[type="password"] {
  padding: 0.8rem;
  border-radius: 0.4rem;
  width: 30rem;
  border: 1px solid var(--text-light);
  margin: 1rem 0;
}

.auth-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.auth-options button {
  all: unset;
  cursor: pointer;
  color: var(--text-light);
}
